body {
  background-color: #1a202c;
}

::-webkit-scrollbar {
  width: 3.5px;
}

::-webkit-scrollbar-thumb {
  background-color: #464b50;
}

.app {
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 50px 0;
}

.input-section {
  margin-bottom: 20px;
  display: grid;
  place-items: center;
}

input[type="text"] {
  width: 50%;
  padding: 15px;
  color: #fff;
  font-size: 16px;
  border: 1px solid #212529;
  border-radius: 10px;
  background-color: #212529;
}

input:focus {
  outline: 0;
  border: 1px solid #185088;
}

textarea {
  width: 50%;
  height: 150px;
  padding: 15px;
  color: #fff;
  border: 1px solid #212529;
  background-color: #212529;
  border-radius: 10px;
  margin-bottom: 10px;
}

textarea:focus {
  outline: 0;
  border: 1px solid #185088;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #832eb1;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  margin: 10px 0 15px 0;
  transition: 0.3s;
}

button:hover {
  background-color: #642287;
}

h3 {
  color: #fff;
}
.render-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  word-wrap: break-word;
  padding: 0 30px;
}

.left-section,
.right-section {
  flex: 1;
  background-color: #212529;
  padding: 0 10px 10px 20px;
  border-radius: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.status-section {
  margin-top: 10px;
  color: red;
  font-weight: 700;
}

pre {
  color: white;
  white-space: pre-wrap;
  word-break: break-all;
}

.right-section-output {
  color: #fff;
}

@media (max-width: 600px) {
  .render-section {
    flex-direction: column;
  }
}
